.derecha{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: flex-end;
}
img{
  padding: 5px;
  height: 8rem;
}
.cardcolorbl{
  background-color: #C3E5E4;
  color: black;
  --color: black;

}
.cardcolorgra{
  background-color: #E6E6E6;
  color: black;
}

.spacebetween{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  color: black;
}
.color{
  --ion-color-base: black;
}
.image-empty{
  padding: 100px;
}
.center{
  padding: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.centerh{
  padding: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
