<div class="ion-text-center">
  <div>
    <form method="POST" enctype="multipart/form-data">
      <div>
        <div style="color: gray;">Por favor suba un archivo pdf o docx</div><br />
        <ion-input value="custom" color="primary" type="file" (change)="uploadFile($event)" accept=".pdf, .docx"></ion-input>
      </div>
    </form>
  </div>

  <div *ngIf = "barStatus">
    <ion-spinner name="lines-small"></ion-spinner>
  </div>

  <app-file-list [fileUpload] = "fileUpload"></app-file-list>
</div>
